@inherits LayoutComponentBase

<div class="main_container">

    <!--Side NAvigation Begins-->
    <div class="col-md-3 left_col">
       <SideNavBar/>
    </div> 
    <!--Side Navigation Endst-->

    <!--Top NAv Begins-->
 <div class="top_nav">
     <TopNavBar />
</div>
<!--Top NAv Ends-->

<!-- page content begins-->
    <div class="right_col" role="main">
        @Body
    </div>
<!-- /page content Ends -->

<FootBar/>
</div>